h1 {
  font-size: 30px;
  color: red;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: black;
  color: red;
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid black;
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  color: red;
  text-transform: uppercase;
}
td {
  background-color: white;
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  border-bottom: solid 1px black;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.back-home {
  background-color: black;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: red;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  margin-top: 5px;
  outline: 0;
  text-align: center;
  width: 8%;
  font-weight: bolder;
}

.delete-exercise {
  font-weight: bolder;
  background-color: red;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  margin-top: 5px;
  outline: 0;
  text-align: center;
  /* width: 20%; */
  width: 60px;
  font-weight: bolder;
}

.exercises {
  background: url("https://images.unsplash.com/photo-1631775237267-a865f351e5a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA4fHx3b3Jrb3V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}
