ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid black;
  color: red;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: red;
  display: block;
  width: 200px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

button {
  background-color: red;
  border-radius: 25%;
}

.create-user {
  background-color: green;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  margin-top: 5px;
  outline: 0;
  text-align: center;
  width: 8%;
  font-weight: bolder;
}

.back-home {
  background-color: black;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: red;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  margin-top: 5px;
  outline: 0;
  text-align: center;
  width: 8%;
  font-weight: bolder;
}
