ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  /* color: red; */
}

li a {
  text-decoration: none;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}

li a:hover {
  font-size: 30px;
  background: red;
}

.create-user {
  background-color: green;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: 0;
  text-align: center;
  width: 8%;
  font-weight: bolder;
}

.back_home {
  background-color: red;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: 0;
  text-align: center;
  width: 8%;
  font-weight: bolder;
}

.users {
  background-image: url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHdvcmtvdXR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

.vanilla {
  color: white;
  font-weight: bolder;
  size: 300px;
}

.users-names {
  color: white;
  font-weight: bolder;
  size: 300px;
  text-shadow: 1px 1px red;
}
